.btn {
    background-color: blue;
}

.h-full {
    height: 100vh;
}

.h-100 {
    height: 100%;
}

aside {
    display: block !important;
}

.has-users .mantine-datatable-empty-state {
    display: none !important;
}

.mantine-datatable-loader {
    display: none !important;
}

.mantine-datatable-pagination {
    display: flex;
    justify-content: flex-end;
    /* Align pagination to the right */
}